<!DOCTYPE html>
<html>
  	<head>
		<meta charset="utf-8">
		<title>Ex-BOOK</title>
		<link rel="stylesheet" type="text/css" href="style\common.css">
		<link rel="stylesheet" type="text/css" href="style\chat.css">
		<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
		<script src="http://cdn.ronghub.com/RongIMLib-2.2.4.min.js"></script>
		<script type="text/javascript" src="js/chat.js"></script>

	</head>
	<body>
		<div id="chat-top-box">
			<div class="chat-a-1">
				<a href="bookdetail.html" class="chat-a-11">〈</a>
				<a href="bookdetail.html" class="chat-a-12">Back</a>
			</div>
			<div class="chat-ti" id="targetName">名字啊名字</div>
		</div>
	    <div id="chatbox">
  
        </div>
		<div id="sent-comment">
			<textarea onfocus="if(value=='我想说'){value=''}" onblur="if(value==''){value='我想说'}" id="MyMsg">我想说</textarea>
			<input type="button" value="发送" id="SentMsg">
		</div>
        <div id="DeleteFai-box">
            <div class="su-content">
                未知错误：请重试
            </div>
        </div>
        <rong-widget></rong-widget>
	</body>
</html>