<!DOCTYPE html>
<html>
	<head>
		<title>联系我们</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\registerlogin.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
		<script type="text/javascript" src="__PUBLIC__\js\jsbg.js"></script>
	</head>
    <body>
		<div id="top-box">
			<div class="a-1"><a href="index.html" class="a-11">〈</a>
				             <a href="index.html" class="a-12">Back</a></div>
			<div class="d-1 d-2">联系我们</div>
		</div>
		<div id="table-box">
			<div id="tdc"></div>
			<div class="p-1">@Ex-BOOK</div>
			<div class="p-2">长按二维码给我们留言</div>
		</div>
    </body>
</html>