<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\registerlogin.css">
    	<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
    	<title>修改密码</title>
    	<script type="text/javascript" src="__PUBLIC__\js\jquery-1.12.3.js"></script>
    	<script type="text/javascript" src="__PUBLIC__\js\psw.js"></script>
    	<script type="text/javascript" src="__PUBLIC__\js\change.js"></script>
    </head>
	<body>
		<div id="top-box">
			<div class="a-1"><a href="myprofile.html" class="a-11">〈</a>
				             <a href="myprofile.html" class="a-12">Back</a></div>
			<div class="d-1 d-2">修改密码</div>
		</div>
		<div id="bg-box">
		  <form>
			<table id="cpw-ta">
			    <tr>
				    <td class="cpw-td1"><img src="__PUBLIC__\photo\PNG\password1.png" class="cpw-img"></td>
				    <td><input type="text" value="请输入旧密码" class="cpw-te" id="ChangePassOld"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><hr class="cpw-hr hr1"></td>
			    </tr>
			    <tr>
				    <td class="cpw-td1"><img src="__PUBLIC__\photo\PNG\password1.png" class="cpw-img"></td>
				    <td><input type="text" value="请设置新密码" class="cpw-te" id="ChangeSetNew1"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><hr class="cpw-hr hr1"></td>
			    </tr>
			    <tr>
				    <td class="cpw-td1"><img src="__PUBLIC__\photo\PNG\password1.png" class="cpw-img"></td>
				    <td><input type="text" value="请再次确定密码" class="cpw-te" id="ChangeSetNew2"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><hr class="cpw-hr hr2"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><input type="button" value="确定" class="lo-su" id="ChangePaSu"></td>
			    </tr>
			</table>
		  <form>
		</div>
		<div id="DeleteFai-box">
            <div class="su-content">
                未知错误：请重试
            </div>
        </div>
	</body>
</html>