body{background-color: #eeeeee;}
*{font-family: "华文细黑";}
.book-introduce{width: 100%;
                height: 60px;
                margin-bottom: 5px;
                padding-top: 0.5px;}
.book-head{width: 40px;
           height: 40px;
           background-color: black;
           float:left;
           margin-left: 10px;
           margin-top: 10px;}
.book-head img{width: 100%;height: 100%;}
.book-box{float: left;
          margin-top: 5px;
          margin-left: 5px;}
.book-name{font-size: 16px;}
.book-time{font-size: 14px;
           color: #8a8a8a;}
.book-money{float: right;
	        width: 40px;
            height: 25px;
            margin-top: 10px;
            margin-right: 10px;}
.book-money img{float: left;
                width: 18px;
                height: 18px;
                margin-top: 3px;
                margin-right: 5px;}
.book-money p{float: left;
              font-size: 18px;
              color: red;
              line-height: 25px;}
.imgtext-title{width: 90%;
               height: 20px;
               font-size: 14px;
               color: #015a82;
               margin: 0 auto;}
.imgtext-img-box{width: 90%;
                 margin: 0 auto;
                 margin-top: 10px;}
.imgtext-img-box img{width: 70px;
                     height: 70px;
                     float: left;
                     margin-right: 5px;
                     margin-bottom: 10px;}
.imgtext-text{width: 90%;
	          float: left;
	          margin-left: 5%;
              font-size: 13px;
              color: #8a8a8a;
              text-indent: 1em;}
.comment-title{width: 90%;
               height: 20px;
               font-size: 14px;
               color: #015a82;
               float: left;
               margin-top: 7px;
               margin-left: 5%;
               border-bottom: 1px solid #8a8a8a;}
.comment-box{width: 90%;
	         margin-left: 5%;
	         float: left;
	         padding-bottom: 52px;}
.comment{width: 90%;
         float: left;
         margin-top: 8px;
         border-bottom: 1px solid #8a8a8a;}
.comment-head{width: 40px;
              height: 40px;
              background-color: black;
              float:left;
              margin-top: 5px;
              margin-bottom: 10px;}
.comment-head img{width: 100%;height: 100%;}
.comment-table{margin-left: 5px;
               float: left;
               margin-bottom: 10px;}
.comment-name{font-size: 15px;
              color: #015a82;}
.comment-content{font-size: 15px;}
.comment-time{float: right;
              font-size: 12px;
              color: #6e6e6e;}

#choose-box{position: fixed;
            width: 100%;
            height: 50px;
            background-color: black;
            bottom: 0;
            float: left;}
#choose-box button{width: 50%;
                   height: 50px;
                   background-color: #d9e7e7;
                   font-size: 18px;
                   color: #015a82;
                   float: left;
                   border: 0;
                   outline: none;
                   cursor: pointer;}
#choose-box a{width: 50%;
              height: 50px;
              background-color: #ff5001;
              font-size: 18px;
              color: #ffffff;
              float: right;
              text-align: center;
              line-height: 50px;}

#sent-comment{width: 100%;
              background-color: #d9e7e7;
              position: fixed;
              bottom: 0;
              display: none;}
#sent-comment textarea{width: 70%;
	                   height: 30px;
                       margin-left: 2%;
                       border-radius: 5px;
                       -ms-border-radius: 5px;
                       -o-border-radius: 5px;
                       -webkit-border-radius: 5px;
                       -moz-border-radius: 5px;
                       margin-top: 5px;
                       margin-bottom: 5px;
                       font-size: 15px;
                       color: #8a8a8a;
                       line-height: 30px;
                       resize:none;
                       outline: none;
                       text-indent: 0.5em;
                       float: left;}
#sent-comment input{width: 55px;
                    height: 30px;
                    float: left;
                    border: none;
                    background-color: #98cb86;
                    color: #ffffff;
                    outline: none;
                    cursor: pointer;
                    font-size: 15px;
                    border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;}