body{background-color: #eeeeee;float: right;}
#chat-top-box{width: 100%;
         height: 40px;
         background-color: #d9e7e7;
         float: left;
         position: relative;}
.chat-ti  {  color: #005981;
	         width: 100%;
	         height: 40px;
	         line-height: 40px;
             font-size: 16px;
             font-weight: 600;
             text-align: center;}
.chat-a-1{position: absolute;
          top: 10px;
          left: 5px;}
.chat-a-1 a{color: #015981;
            font-size: 15px;}
.chat-a-11{font-weight: 600;}
.chat-a-12{font-family:STXihei,"华文细黑";}


#sent-comment{width: 100%;
              background-color: #d9e7e7;
              position: fixed;
              bottom: 0;}
#sent-comment textarea{width: 63%;
	                     height: 30px;
                       margin-left: 2%;
                       border-radius: 5px;
                       -ms-border-radius: 5px;
                       -o-border-radius: 5px;
                       -webkit-border-radius: 5px;
                       -moz-border-radius: 5px;
                       margin-top: 5px;
                       margin-bottom: 5px;
                       font-size: 15px;
                       color: #8a8a8a;
                       line-height: 30px;
                       resize:none;
                       outline: none;
                       text-indent: 0.5em;
                       float: left;}
#sent-comment input{width: 55px;
                    height: 30px;
                    float: left;
                    border: none;
                    background-color: #98cb86;
                    color: #ffffff;
                    outline: none;
                    cursor: pointer;
                    font-size: 15px;
                    border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    margin-left: 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;}
.mychat{width: 95%;float: right;margin-top: 10px;margin-right: 10px;}
.ChatmyHead{width: 40px;height: 40px;background-color: black;float: right;}
.ChatmyHead img{width: 100%;height: 100%;}
.tria1{width: 0;height: 0;border-top: 5px solid transparent;border-left: 10px solid #d9e7e7;border-bottom: 5px solid transparent;float: right;margin-top: 15px;
      margin-right: 10px;}
.rect1{max-width: 60%; background-color: #d9e7e7;font-family: "微软雅黑";font-size: 14px;line-height: 30px;float: right;border-radius: 5px;
      padding-left: 10px;padding-right: 10px;margin-top: 5px;}

.otherchat{width: 95%;float: left;margin-top: 10px;margin-left: 10px;}
.otherchat img{width: 100%;height: 100%;}
.othermyHead{width: 40px;height: 40px;background-color: black;float: left;}
.tria2{width: 0;height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #d9e7e7;
    border-bottom: 5px solid transparent;float: left;margin-top: 15px;margin-left: 10px;}
.rect2{max-width: 60%;height: 30px;background-color: #d9e7e7;font-family: "微软雅黑";font-size: 14px;line-height: 30px;float: left;border-radius: 5px;
      padding-left: 10px;padding-right: 10px;margin-top: 5px;}