body{background-color: #eeeeee;}
.cp-c-1{font: 14px "华文细黑";
        float: right;
        font-weight: 600;
        color: #005981;
        width: 58px;
        margin-top: 10px;
        margin-right: 10px;}
#bg-box{width: 100%;
       padding-bottom: 120px;}
.file-la{  width: 70px;
           height: 70px;
           border: 0;
           outline: none;
           cursor: pointer;
           display: block;
           float: left;
           margin-top: 5px;
           margin-left: 5px;
           background-image: url(../photo/PNG/bu.jpg);}
.img-1{width: 70px;
       height: 70px;
       background-color: #aaaaaa;
       float: left;
       margin-top: 4px;
       margin-left: 4px;
       cursor: pointer;}
#cp-buttom{background-color: #ffffff;
           width: 100%;
           height: 35px;
           position: fixed;
           bottom: 0;
           border-top: 0.5px solid #aaaaaa;}
#cp-buttom input{background-color: #ffffff;
                 border: none;
                 font: 16px "华文细黑";
                 color: #ff0101;
                 cursor: pointer;
                 float: right;
                 margin-top: 6px;
                 margin-right: 10px;
                 outline: none;}
#imageformbox{float: left;margin-left: 5px;margin-top: 5px;}