body{background-color: #eeeeee;
     position: relative;}

.is-textarea{width: 90%;
       height: 100px;
       margin: 0 auto;
       display: block;
       background-color: #eeeeee;
       border: none;
       resize:none;
       border-bottom: 1px #aaaaaa solid;
       outline:none;
       color: #b1b1b1;
       font-size: 14px;
       font-family: "华文细黑";}
#sp-box{width: 91%;
        display: block;
        margin: 0 auto;
        margin-top: 10px;}
.file-la{width: 70px;
         height: 70px;
         position: relative;
         background-color: #d2d2d2;
         display: block;
         cursor: pointer;
         float: left;
         margin-right: 5px;
         margin-bottom: 10px;}
.file-style {
  background: #ffffff;
  position:relative;
  margin: 0 auto;
  height: 40px;
  width: 3px;
 border-radius: 1px;
-moz-border-radius: 1px;
-o-border-radius: 1px;
-ms-border-radius: 1px;
-webkit-border-radius: 1px;
  top: 15px;
}
.file-style:after {
  background: #ffffff;
  content: "";
  height: 3px;
  left: -19px;
  position: absolute;
  top: 19px;
  width: 40px;
  border-radius: 1px;
}
.upimg{display: block;
  width: 70px;height: 70px;float: left;margin-bottom: 10px;margin-right: 5px;
}
#is-ta{float: right;
       width: 95%;
       margin-left: 5%;
       display: block;}
.is-ta-text{width: 35px; 
            font-size: 16px;
            font-family: "华为细黑";
            color: #2b2b2b;}
.is-ta-input{outline: none;
             background-color: #eeeeee;
             border: none;
             color: #acacac;
             font-size: 14px;
             font-family: "华文细黑"}
.is-ta-select{width: 200px;
              height: 23px;
              outline: none;
              border: none;
              border-bottom: 0.5px solid #aaaaaa;
              appearance:none;
              -moz-appearance:none;
              -webkit-appearance:none; 
              background: url("/EXbook/Public/photo/PNG/ar.png") 
              no-repeat scroll right center transparent ; 
              background-color: #ffffff;
              font-size: 14px;
              line-height: 14px;
              font-family: "华文细黑";
              color: #575757;}

.is-su{width: 240px;
             height: 35px;
             cursor: pointer;
             outline: none;
             border: none;
             background-color: #ff5001;
             border-radius: 4px;
             font-size: 16px;
             color: #ffffff;
             font-family: "华文细黑";
             margin-top: 60px;
           }

.preview{width:200px;border:solid 1px #dedede; margin:10px;padding:10px;}

