*{
	padding: 0px;
	margin: 0px;
}

html, body{
	background-color: #eeeeee;
}

.leaders{
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 50px;
}

.leaders .putComment, .leaders .zu{
	float: left;
	width: 50%;
	text-align: center;
	line-height: 50px;
}

.writeComment{
	overflow: hidden;
	background-color: #d9e7e7;
}

.writeComment .putComment, .writeComment .zu{
	display: none;
}

.writeComment .box{
	margin: 9px 80px 0px 20px;
}

.writeComment input[type="text"]{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #d6d7dc;
}

.writeComment .send{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: white;
	line-height: 30px;
	width: 50px;
	background-color: #98cb86;
}

.leaders .putComment{
	background-color: #d9e7e7;
	color: #005981;
}

.leaders .zu{
	background-color: #ff5001;
	color: white;
}

.content{
	margin-top: 50px;
	margin-bottom: 90px;
}

.content .header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #d9e7e7;
	font-size: 20px;
	color: #005981;
	text-align: center;
	z-index: 5;
}

.content .header .back{
	float: left;
	margin-left: 10px;
	margin-right: -155px;
}

.content .header .back img{
	position: relative;
	width: 10px;
	top: 3px;
}

.content .information{
	margin: 60px 20px;
}

.content .baseInfor{
	overflow: hidden;
}

.content .baseInfor .touxiang{
	float: left;
	width: 50px;
	height: 50px;
}

.content .baseInfor .touxiang img{
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
}

.content .baseInfor .price{
	float: right;
	font-size: 22px;
	position: relative;
	top: -5px;
	color: #fe6c6c;
}

.content .baseInfor .price::before{
	display: inline-block;
	content: "";
	width: 24px;
	height: 24px;
	background-image: url(../img/mo2.png);
	background-size: 100%;
	position: relative;
	top: 5px;
}

.content .baseInfor .person{
	margin-left: 60px;
	margin-right: 20px;
}

.content .baseInfor .person h4{
	font-size: 16px;
	margin: 0px 0px 8px;
	font-weight: 500;
	padding-right: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.content .baseInfor .person p{
	color: #7d7d7d;
	font-size: 15px;
}

.content .descript{
	margin-top: 15px;
	margin-bottom: 15px;
}

.content .descript h4, .content .comments h4{
	color: #005882;
	padding-bottom: 5px;
	border-bottom: 1px solid #d6d7dc;
	margin-bottom: 5px;
	font-weight: 600;
}

.content .descript .pic{
	margin-top: 15px;
	font-size: 0px;
}

.content .descript .pic img{
	width: 100px;
	height: 100px;
	line-height: 80px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;
}

.content .descript .description{
	color: #7d7d7d;
	font-size: 15px;
	text-indent: 2em;
	line-height: 20px;
}

.content .comment{
	margin-top: 10px;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d7dc;
}

.content .comment .touxiang{
	float: left;
	width: 60px;
	height: 60px;
}

.content .comment .touxiang img{
	width: 100%;
	height: 100%;
}

.content .comment .time{
	float: right;
}

.content .comment .commentInfor{
	margin-left: 70px;
	margin-right: 20px;
}

.content .comment .commentInfor h5{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 18px;
	color: #005882;
	line-height: 28px;
}

.maximute{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}

.maximute .slider{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
}

.maximute img{
	width: 80%;
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -50%;
}