<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\myprofile.css">
        <script type="text/javascript" src="__PUBLIC__\js\jquery-3.1.1.js"></script>
        <script type="text/javascript" src="__PUBLIC__\js\mypro.js"></script>
		<title>Ex-BOOK</title>
	</head>
	<body>
		<div id="top-box">
			<div class="a-1">
				<a href="personalcenter.html" class="a-11">〈</a>
				<a href="personalcenter.html" class="a-12">Back</a>
			</div>
			<div class="d-1 d-2">我的资料</div>
		</div>
        <div id="mp-title">基本信息</div>
        <div id="mp-head" class="myprofile-ba">
        	<p class="mp-p1">头像</p>
        	<p class="mp-p2">></p>
        	<a href="choosepic.html"><div id="mp-head-img"></div></a>
        </div>
        <a href="changename.html">
        	<div id="change-name" class="myprofile-ba">
        		<p class="mp-p1">用户名称</p>
        		<img src="__PUBLIC__/photo/PNG/changename.png">
        		<P class="mp-p3">西红柿炒鸡蛋</P>
        	</div>
        </a>
        <a href="changpw.html">
        	<div id="mp-changpw" class="myprofile-ba">
        		<p class="mp-p1">修改密码</p>
        	    <p class="mp-p2">></p>
            </div>
        </a>
        <div id="DeleteFai-box">
                <div class="su-content">
                    未知错误：
                </div>
        </div>
	</body>
</html>