<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>个人中心</title>
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
	  <link rel="stylesheet" type="text/css" href="__PUBLIC__\style\personal center.css">
      <link rel="stylesheet" type="text/css" href="__PUBLIC__\style\bookdetail.css">
      <script type="text/javascript" src="__PUBLIC__\js\jquery-1.12.3.js"></script>
      <script type="text/javascript" src="__PUBLIC__\js\jsbg.js"></script>
      <script type="text/javascript" src="__PUBLIC__\js\PersonalChtml.js"></script>
	</head>

	<body>
      <div id="Person">
        <div id="pc-top-box">
        	<div class="pc-a-1 pc-a-11">
                <a href="myprofile.html">设置</a>
            </div>
        	<div class="pc-d-1">个人中心</div>
        	<div class="pc-a-1 pc-a-12">
                <a href="#" name="PcCannal">注销</a>
            </div>
        </div>
        <div class="pc-box" id="PeCeBox">
        	<div class="my-message">
        		<div class="my-com my-head" id="PeCeHead"><img src="#"></div>
        		<table>
        		<tr>
        			<td colspan="2">
        				<div class="my-com my-name" id="PeCeMyName">天使的大熊</div>
        			</td>
        		</tr>
        		<tr>
        		    <td>
        		    	<div class="my-com my-isnu">已发布</div>
        		    </td>
        		    <td>
        		    	<div class="my-com my-number" id="PeCeIsNu">2</div>
        		    </td>
        		</tr>
        		</table>
        	</div>
        </div>  

    
        <div id="navigation-box">
            <div id="navigation-box-top">
                 <a href="#"><img src="__PUBLIC__\photo\PNG\pulish.png" id="IsPicture"></a>
            </div>
            <div id="navigation-box-bottom">
                <div class="nav nav-1">
                    <img src="__PUBLIC__\photo\PNG\index.png">
                    <a href="index.html">首页</a>
                </div>
                <div class="nav nav-1">
                    <img src="__PUBLIC__\photo\PNG\message.png">
                    <a href="message.html">消息</a>
                </div>
                <div class="nav nav-2">
                    <a href="issue.html">发布</a>
                </div>
                <div class="nav nav-3">
                    <img src="__PUBLIC__\photo\PNG\pc.png">
                    <a href="personalcenter.html">个人中心</a>
                </div>
                <div class="nav nav-3 nav-4">
                    <img src="__PUBLIC__\photo\PNG\feedback.png">
                    <a href="contactus.html">联系我们</a>
                </div>         
            </div>
		</div>
    </div>
<!--以下是书本详情-->
    <div id="BookDetail">
        <div id="top-box">
            <div class="a-1"><a href="#" class="a-11" name="black">〈</a>
                             <a href="#" class="a-12" name="black">Back</a></div>
            <div class="d-1 d-3">Book详情</div>
        </div>

        <div id="BookdeBox"></div>
        <div id="choose-box">
            <button>我要留言</button>
            <a href="#">我要租</a>
        </div>

        <div id="sent-comment">
            <textarea onfocus="if(value=='评论'){value=''}" onblur="if(value==''){value='评论'}" id="Comment">评论</textarea>
            <input type="button" value="发送" id="CommentSu">
        </div>
    </div> 
<!--以下是弹出提示-->
        <div id="de-box">
            <div id="de-select-box">
                <div class="de-content">确定删除？</div>
                <div class="de-bu de-bu-cancel" id="DeBlockCannel">取消</div>
                <div class="de-bu de-bu-confirm" id="DeBlockConfirm">确定</div>
            </div>
        </div>

        <div id="su-box">
            <div class="su-content">
                恭喜您成功出租
            </div>
        </div>

        <div id="con-box" >
            <div class="su-content">
                已经成功删除
            </div>
        </div>
        <div id="DeleteFai-box">
            <div class="su-content">
                未知错误：请重试
            </div>
        </div>
	</body>
</html>