<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ex-BOOK</title>
	<link rel="stylesheet" href="__PUBLIC__/css/changePassword.css" />
	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/js/ajaxform.js"></script>
</head>
<body>
	
	<div class="content">
		<div class="header">
			<div class="back" id="back" onclick="location.href='settings'">
				<img src="__PUBLIC__/img/back.png" alt="back">
				<span>Back</span>
			</div>
			<div class="title">
				<p>修改密码</p>
			</div>
		</div>

		<div class="information">
			<form action="" method="post" id="changePassword">
				<p class="password">
					<input type="password" placeholder="请输入旧密码" id="oldpassword"/>
				</p>
				<p class="password">
					<input type="password" placeholder="请设置新密码" id="password"/>
				</p>
				<p class="repeatPassword">
					<input type="password" placeholder="请再次确定密码" id="repeatPassword"/>
				</p>
				<p class="submit">
					<input type="submit" value="确定"/>
				</p>
			</form>
		</div>
	</div>

	<script src="__PUBLIC__/js/changePassword.js"></script>
</body>
</html>