<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ex-BOOK</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\index.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\bookdetail.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
		<script type="text/javascript" src="__PUBLIC__\js\jquery-1.12.3.js"></script>
		<script type="text/javascript" src="__PUBLIC__\js\index.js"></script>
	</head>
	<body>
	<div id="Index">
		<div id="search-box">
			<form id="search-form">
				<div id="search-text-box">
					<img src="__PUBLIC__\photo\PNG\9.png" id="search-img">
				    <input type="text" value="搜索" id="search-text" onfocus="if(value=='搜索'){value=' '}" onblur="if(value==' '){value='搜索'}">
				</div>
				<input type="button" value="搜索" id="search-button">
			</form>
		</div> 
        
        <div id="index-body-center"></div>
        <div id="SearchResultBox"></div>

		<div id="navigation-box">
			<div id="navigation-box-top">
                <img src="__PUBLIC__\photo\PNG\pulish.png" id="IsPicture">
			</div>
			<div id="navigation-box-bottom">
				<div class="nav nav-1">
					<img src="__PUBLIC__\photo\PNG\index.png">
					<a href="index.html">首页</a>
				</div>
				<div class="nav nav-1">
					<img src="__PUBLIC__\photo\PNG\message.png">
					<a href="message.html">消息</a>
				</div>
				<div class="nav nav-2">
					<a href="issue.html">发布</a>
				</div>
				<div class="nav nav-3">
					<img src="__PUBLIC__\photo\PNG\pc.png">
					<a href="personalcenter.html">个人中心</a>
				</div>
				<div class="nav nav-3 nav-4">
					<img src="__PUBLIC__\photo\PNG\feedback.png">
					<a href="contactus.html">联系我们</a>
				</div>         
			</div>
		</div>
	</div>

	<div id="DeleteFai-box">
            <div class="su-content">
                未知错误：
            </div>
    </div>

<!--以下是书本详情-->
    <div id="BookDetail">
        <div id="top-box">
			<div class="a-1"><a href="#" class="a-11" name="black">〈</a>
				             <a href="#" class="a-12" name="black">Back</a></div>
			<div class="d-1 d-3">Book详情</div>
		</div>

		<div id="BookdeBox"></div>
		<div id="choose-box">
			<button>我要留言</button>
			<a id="chathtml" href="#">我要租</a>
		</div>

		<div id="sent-comment">
			<textarea onfocus="if(value=='评论'){value=''}" onblur="if(value==''){value='评论'}" id="Comment">评论</textarea>
			<input type="button" value="发送" id="CommentSu">
		</div>
    </div> 
    <input type="hidden" id="status" value="">
	</body>
</html>