<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ex-BOOK</title>
	<script src="http://localhost:35729/livereload.js?snipver=1"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/leader.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
	<script src="__PUBLIC__/js/vue.min.js"></script>
	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/js/tools.js"></script>
</head>
<body>
	<div class="leaders">
		<div class="leader">
			<a href="index">
				<img src="__PUBLIC__/img/index.png" alt="" />
				<span>首页</span>
			</a>
		</div>
		<div class="leader">
			<a href="message">
				<img src="__PUBLIC__/img/message.png" alt="" />
				<span>消息</span>
			</a>
		</div>
		<div class="leader upleader">
			<a href="publish">
				<img src="__PUBLIC__/img/pulish.png" alt="" />
				<span>发布</span>
			</a>
		</div>
		<div class="leader">
			<a href="personal">
				<img src="__PUBLIC__/img/pc.png" alt="" />
				<span>个人中心</span>
			</a>
		</div>
		<div class="leader">
			<a href="connect">
				<img src="__PUBLIC__/img/feedback.png" alt="" />
				<span>联系我们</span>
			</a>
		</div>
	</div>
	
	<div class="viewbox">
		<div class="view index">
			<div class="search">
				<input type="button" id="search" value="搜索"/>
				<i></i><input type="text" id="searchText" placeholder="搜索" />
			</div>
			<div class="books" id="books">
				<div class="book" v-bind:id="'book' + book.id" v-for="book in books">
					<img v-bind:src="book.owner_pic" alt="头像" class="touxiang"/>
					<span class="price">{{book.price}}</span>
					<div class="information">
						<h4>{{book.owner}}</h4>
						<p class="time">{{book.time}}</p>
						<p class="pic">
							<img v-bind:src="url.url" alt=""  v-for="url in book.pic"/>
						</p>
						<p class="describe">{{book.desciption}}</p>
					</div>
					<p class="more">
						<a href="">详情</a>
						<a href="" class="comment">{{book.commentNum}}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/index.js"></script>
</body>
</html>