<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ex-BOOK</title>
	<link rel="stylesheet" href="__PUBLIC__/css/leader.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/message.css" />
	<script src="__PUBLIC__/js/vue.min.js"></script>
	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/js/tools.js"></script>
	<script src="__PUBLIC__/js/RongIMLib-2.2.4.min.js"></script>
</head>
<body>
	<div class="leaders">
		<div class="leader">
			<a href="index">
				<img src="__PUBLIC__/img/index.png" alt="" />
				<span>首页</span>
			</a>
		</div>
		<div class="leader">
			<a href="message">
				<img src="__PUBLIC__/img/message.png" alt="" />
				<span>消息</span>
			</a>
		</div>
		<div class="leader upleader">
			<a href="publish">
				<img src="__PUBLIC__/img/pulish.png" alt="" />
				<span>发布</span>
			</a>
		</div>
		<div class="leader">
			<a href="personal">
				<img src="__PUBLIC__/img/pc.png" alt="" />
				<span>个人中心</span>
			</a>
		</div>
		<div class="leader">
			<a href="connect">
				<img src="__PUBLIC__/img/feedback.png" alt="" />
				<span>联系我们</span>
			</a>
		</div>
	</div>
	
	<div class="content">
		<div class="header">
			<div class="back" id="back" onclick="location.href='index'">
				<img src="__PUBLIC__/img/back.png" alt="back">
				<span>Back</span>
			</div>
			<div class="title">
				<p>消息</p>
			</div>
		</div>

		<div class="messages" id="messages">
			<template id="messagesTemplate" style="display: none;">
				<div class="message" v-for="message in messages" v-on:click="toChatRoom(message, $event)">
					<div class="touxiang">
						<img v-bind:src="message.pic" alt="" />
					</div>
					<div class="time">
						<p>{{message.time}}</p>
					</div>
					<div class="text">
						<h4>{{message.name}}</h4>
						<p>{{message.message}}</p>
					</div>
				</div>
				<div class="comment" v-for="comment in comments" v-on:click="toBook(comment.bookid)">
					<span class="status" v-if="comment.status == '1'">*</span>
					<span class="name">{{ comment.owner }}</span>
					评论了你
					<span class="time">{{ comment.time }}</span>
				</div>
			</template>
		</div>
	</div>

	<script src="__PUBLIC__/js/message.js"></script>
</body>
</html>