<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ex-BOOK</title>
	<link rel="stylesheet" href="__PUBLIC__/css/leader.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/personal.css" />
	<script src="__PUBLIC__/js/vue.min.js"></script>
	<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/js/tools.js"></script>
</head>
<body>
	<div class="leaders">
		<div class="leader">
			<a href="index">
				<img src="__PUBLIC__/img/index.png" alt="" />
				<span>首页</span>
			</a>
		</div>
		<div class="leader">
			<a href="message">
				<img src="__PUBLIC__/img/message.png" alt="" />
				<span>消息</span>
			</a>
		</div>
		<div class="leader upleader">
			<a href="publish">
				<img src="__PUBLIC__/img/pulish.png" alt="" />
				<span>发布</span>
			</a>
		</div>
		<div class="leader">
			<a href="personal">
				<img src="__PUBLIC__/img/pc.png" alt="" />
				<span>个人中心</span>
			</a>
		</div>
		<div class="leader">
			<a href="connect">
				<img src="__PUBLIC__/img/feedback.png" alt="" />
				<span>联系我们</span>
			</a>
		</div>
	</div>
	
	<div class="content" id="content">
		<div class="header">
			<div class="setting" id="setting">
				<span><a v-bind:href="'settings?pic=' + information.owner_pic">设置</a></span>
			</div>
			<div class="logout" id="logout">
				<span><a>注销</a></span>
			</div>
			<div class="title">
				<p>个人中心</p>
			</div>
		</div>

		<div class="person">
			<div class="touxiang">
				<img v-bind:src="information.owner_pic" alt="" />
			</div>
			<div class="information">
				<h4>{{ information.owner }}</h4>
				<p class="published">
					已发布的<span>{{ information.number }}</span>
				</p>
			</div>
		</div>

		<div class="books" id="books">
			<div class="book" v-for="book in books">
				<div class="bookStatus">
					<span>{{ book.price }}</span>
					<img src="__PUBLIC__/img/click.png" v-on:click="layout(book.id, book)" alt="" v-if="book.status == 1"/>
					<p v-else>已出租</p>
				</div>
				<div class="information">
					<div class="pics">
						<img v-for="pic in book.pic" v-on:click="showPicture" v-bind:src="pic.url" alt="" />
					</div>
					<div class="description">
						<p>{{ book.desciption }}</p>
					</div>
				</div>
				<div class="else">
					<div class="time">
						<p>
							<span>{{ book.time }}</span>
							<a v-on:click="del(book.id, $event)">删除</a>
						</p>
					</div>
					<div class="more">
						<p>
							<a v-bind:href="'information?id=' + book.id">详情</a>
							<a v-bind:href="'information?id=' + book.id" class="comment">{{ book.commentNum }}</a>
						</p>
					</div>
				</div>
			</div>
			<p class="nomore">加载中</p>
		</div>
	</div>

	<div class="maximute">
		<div class="slider"></div>
		<img src="" alt="" />
	</div>

	<script src="__PUBLIC__/js/personal.js"></script>
</body>
</html>