<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\message.css">
		<title>消息</title>
		<script type="text/javascript" src="__PUBLIC__\js\jquery-3.1.1.js"></script>
		<script src="http://cdn.ronghub.com/RongIMLib-2.2.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__\js\message.js"></script>
	</head>
	<body>
		<div id="top-box">
			<div class="a-1"><a href="index.html" class="a-11">〈</a>
				             <a href="index.html" class="a-12">Back</a></div>
			<div class="d-1">消息</div>
		</div>
		<div id="me-box">
		</div>
        
		<div id="navigation-box">
			<div id="navigation-box-top">
                 <a href="#"><img src="__PUBLIC__\photo\PNG\pulish.png" id="IsPicture"></a>
			</div>
			<div id="navigation-box-bottom">
				<div class="nav nav-1">
					<img src="__PUBLIC__\photo\PNG\index.png">
					<a href="index.html">首页</a>
				</div>
				<div class="nav nav-1">
					<img src="__PUBLIC__\photo\PNG\message.png">
					<a href="message.html">消息</a>
				</div>
				<div class="nav nav-2">
					<a href="issue.html">发布</a>
				</div>
				<div class="nav nav-3">
					<img src="__PUBLIC__\photo\PNG\pc.png">
					<a href="personalcenter.html">个人中心</a>
				</div>
				<div class="nav nav-3 nav-4">
					<img src="__PUBLIC__\photo\PNG\feedback.png">
					<a href="contactus.html">联系我们</a>
				</div>         
			</div>
			
		</div>
	<div id="DeleteFai-box">
            <div class="su-content">
                未知错误：
            </div>
    </div>
	</body>
</html>