<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\registerlogin.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__\style\common.css">
		<script type="text/javascript" src="__PUBLIC__\js\jquery-1.12.3.js"></script>
    	<script type="text/javascript" src="__PUBLIC__\js\psw.js"></script>
    	<script type="text/javascript" src="__PUBLIC__\js\jsbg.js"></script>
		<script type="text/javascript" src="__PUBLIC__\js\ajax.js"></script>
	</head>
	<body>
		<div id="top-box">
			<div class="a-1">
				<a href="personalcenter.html" class="a-11">〈</a>
				<a href="personalcenter.html" class="a-12">Back</a>
			</div>
			<div class="d-1">登录</div>
		</div>
		<div id="table-box">
		  <form>
			<table id="lo-ta1">
				<tr>
					<td colspan="2"><div class="lo-ti">Ex-BOOK</div></td>
				</tr>
				<tr>
					<td class="lo-td"><img src="__PUBLIC__\photo\PNG\phone.png" class="lo-img ta-img1"></td>
					<td><input type="text" value="请输入手机号码" onfocus="if(value=='请输入手机号码'){value=''}" onblur="if(value==''){value='请输入手机号码'}" class="ta-text" id="LoginPhone"></td>
				</tr>
			    <tr>
			    	<td colspan="2"><hr class="ta-hr"></td>
			    </tr>
			    <tr>
				    <td class="lo-td"><img src="__PUBLIC__\photo\PNG\password.png" class="lo-img ta-img3"></td>
				    <td><input type="text" value="请输入密码" class="ta-text" id="LoginPass"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><hr class="ta-hr"></td>
			    </tr>
			    <tr>
			    	<td colspan="2"><input type="button" value="登录" class="lo-su" id="LoginSu"></td>
			    </tr>
			</table>
			<table id="lo-ta2">
			    <tr>
			    	<td>
			    		<a href="register.html" class="lo-a lo-a1">手机快速注册</a>
			    	</td>
			    	<td>
			    		<a href="forgetpw.html" class="lo-a lo-a2">忘记密码</a>
			    	</td>
			    </tr>
			</table>
		  </form>
		</div>
        <div id="DeleteFai-box">
            <div class="su-content">
                未知错误：请重试
            </div>
        </div>
	</body>
</html>